/*********** VARIABLES ***********/

:root {
  --light-grey: #e0ece4;
  --light-red: #ff4b5c;
  --dark-blue: #056674;
  --light-blue: #66bfbf;
}

html {
  scroll-behavior: smooth;
}

/*********** GRID CONTAINER ***********/

.container {
  display: grid;
  background-color: var(--light-grey);
  grid-template-areas:
    "hd hd hd hd"
    "nv nv nv nv"
    "mn mn mn mn"
    "ft ft ft ft"
}


/*********** HEADER ***********/


header {
  grid-area: hd;
  /* position: sticky; */
  /* top: 0; */
  background-color: var(--light-red);
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 3em;
  padding-left: 0.3em;
}

/*********** Hmburger Menu ************/


#hamburger-menu {
  margin-right: 0.6em;
  cursor: pointer;
}


.burger-bar {
  height: 6px;
  width: 45px;
  background-color: #fff;
  margin: 8px 0;
}

/************ MAIN NAv ************/

nav {
  grid-area: nv;
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}

#main-nav-list {
  padding-inline-start: 0;
}

#main-nav-list li {
  display: inline-block;
  list-style: none;
  width: 80%;
  padding: 10px;
  margin: 8px;
  line-height: 10px;
  background-color: var(--light-blue);
  border-radius: 4px;
}

#main-nav-list li a {
  text-decoration: none;
  display: block;
  color: #fff;
  text-shadow: 1px 1px 1px var(--light-red);
}

#main-nav-list li a:hover {
  color: var(--light-red);
  text-shadow: 1px 1px 1px #fff;
}

/************ MAIN CONTENT ************/


main {
  grid-area: mn;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 5px;
  border-top: 20px solid var(--dark-blue);
  padding: 20px;
}

.flex-container:focus {
  border-top: 40px solid var(--light-red);
  outline: none;
}

.flex-container:hover {
  border-top: 40px solid var(--light-red);
  outline: none;
}

.flex-container:active {
  border-top: 40px solid var(--light-red);
  outline: none;
}


/*********** FOOTER ***********/


footer {
  grid-area: ft;
  height: 40px;
  background-color: var(--light-blue);
  color: var(--light-red);
  text-align: center;
  line-height: 40px;
}



/*********** MEDIA QURIES ***********/


@media screen and (min-width: 600px) {
  /* .container {
    grid-template-areas:
      "hd hd nv nv"
      "hd hd nv nv"
      "mn mn mn mn"
      "ft ft ft ft"
  } */

  header {
    justify-content: center;
    align-items: center;
  }


  #hamburger-menu {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #main-nav-list li {
    width: auto;
    padding: 12px;
  }
}